@use '/src/app/styles/imports' as *;

app-bookmarked {
  margin: auto 0;
  padding-left: 5px;
}

.result-thumbnail {
  @include thumbnail($img-height);
}

.result-title {
  margin: auto 0;
  padding-left: 0.5em;
}

.result-original {
  font-size: 12px;
  color: $light_gray;
}
