<app-search-box
  [template]="movieTemplate"
  [fetchOptions]="getMovie"
  [placeholder]="'search.movies'"
></app-search-box>

<ng-template #movieTemplate let-movie
  ><div
    appOpenLink
    [label]="movie.title"
    url="/movie/{{ movie.id }}"
    [ngClass]="{adult: movie.adult}"
  >
    <app-bookmarked [id]="movie.id" [isMovie]="true"></app-bookmarked>
    <img
      class="result-thumbnail"
      *ngIf="movie.affiche"
      src="{{ movie.affiche | image: imageSize.small }}"
    />
    <div class="result-title">
      <div class="result-main">
        {{ movie.title | capitalizeWord | truncate: 20 }}
        <ng-container *ngIf="movie.date"
          >({{ movie.date | date: 'yyyy' }})</ng-container
        >
      </div>
      <div *ngIf="movie.original_title" class="result-original">
        {{ movie.original_title | truncate: 20 }}
      </div>
    </div>
  </div>
</ng-template>
