@use './variables' as *;

@mixin media($width, $max: true) {
  @if ($max) {
    @media all and (max-width: $width) {
      @content;
    }
  } @else {
    @media all and (min-width: $width) {
      @content;
    }
  }
}

@mixin border($color, $size: 1px) {
  border: $size solid $color;
}

@mixin box-shadow {
  box-shadow: 3px 3px 8px $black;
}

@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin thumbnail($height) {
  @include border($black);

  box-shadow: -3px 1px 6px $black;
  height: $height;
  margin-left: 10px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@mixin full-width {
  width: 100vw !important;
}

@mixin bg($color) {
  background-color: $color !important;
}
