@use './variables' as *;
@use '~@angular/material' as mat;
@include mat.core();

.btn {
  @include mat.elevation(2);

  &:hover fa-icon {
    color: $true-white;
  }
}

$palette-primary: mat.define-palette(
  (
    100: $light-blue,
    500: $blue,
    700: $info,
    contrast: (
      100: $dark-primary-text,
      500: $light-primary-text,
      700: $light-primary-text,
    ),
  )
);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $palette-primary,
      accent: $palette-primary,
    ),
  )
);

@include mat.all-component-themes($theme);
$typography: mat.define-typography-config(
  $font-family: $font-family,
);
@include mat.all-component-typographies($typography);
