@use '/src/app/styles/imports' as *;

:host {
  overflow-x: hidden;
  position: absolute;
  top: $toolbar-height;
}

.mat-tab-link {
  padding: 0 0 0 10px !important;
}

::ng-deep.mat-tab-links {
  display: block !important;
  overflow: auto;
  white-space: nowrap;
  width: 100vw;
}

.tabs-content {
  position: relative;
  width: 100vw;
  z-index: map-get($depth, content);
}

.close-tab {
  padding: 20px;

  &:hover {
    background-color: $light-gray;
  }
}

.logo-wrapper {
  bottom: 0;
  clear: both;
  margin-top: 80px;

  ::ng-deep .logo {
    bottom: 0;
    fill: $blue;
    height: 50px;
    left: 20px;
    margin: 5px;
    position: absolute;
    width: auto;
  }
}

.background-color {
  background-color: $blue;
  height: 100vh;
  left: 0;
  opacity: 0.04;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: map-get($depth, content) - 1;
}

@include between(#{$desktop}, #{$smallscreen}) {
  :host {
    top: $toolbar-height-desktop;
  }
}

@include media(#{$smallscreen}) {
  :host {
    top: $toolbar-height-mobile;
  }
}
