@use '/src/app/styles/imports' as *;

.card-deck {
  display: inline-flex !important;
  flex-wrap: wrap !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.card-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 !important;
  text-align: center;

  label {
    align-self: center;
    margin: 0 !important;
  }
}

.datas-params {
  padding: 0 10px;
}

.datas-sorting .mat-select {
  width: calc(100% - 20px) !important;
}

.card-body {
  display: flex;
  padding-bottom: 0.25rem !important;
}

.data {
  display: flex;

  input {
    width: 100% !important;
  }
}

.datas-search {
  padding-right: 15px;

  .pointer {
    margin: auto;
  }
}

.center {
  align-items: center;
  display: flex;
  float: unset !important;
  justify-content: center;
  margin: auto;
}

.data-item {
  display: inline-flex;
  flex-direction: column;

  input {
    width: 100% !important;
  }
}

.total {
  border: 1px solid #dee2e6;
  color: $blue;
  display: block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative;
}

/* stylelint-disable-next-line selector-max-compound-selectors */
.bottom-page ::ng-deep ngb-pagination ul {
  margin-bottom: 0 !important;
}

@include media(#{$smallscreen}, false) {
  .data-infos {
    margin: auto;
    margin-top: 15px;
    text-align: center;
    width: 75%;
  }
}

@include media(#{$smallscreen}) {
  .card-body {
    padding: 0 !important;
  }

  .data {
    display: inline-flex !important;
    flex-flow: column wrap;
  }

  .datas-params {
    width: 100%;
  }

  .data-item {
    flex-direction: row;
    font-size: 13px !important;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;

    input {
      align-self: center;
      margin: 0 5px 0 10px !important;
      width: 15px !important;
    }

    .data-infos {
      flex-shrink: 10;
    }

    &,
    p {
      padding-left: 5px;
    }
  }

  .card-deck,
  .card {
    @include full-width;

    display: inherit !important;
    flex-wrap: inherit !important;
  }
}
