{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-config-prettier"
  ],
  "plugins": ["stylelint-order"],
  "ignoreFiles": ["./src/app/styles/font-awesome.min.scss"],
  "rules": {
    "indentation": 2,
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "at-rule-empty-line-before": null,
    "max-nesting-depth": 2,
    "at-rule-no-unknown": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/^app-/",
          "/^ng-/",
          "/^ng2-/",
          "/^ngb-/",
          "/^fa-icon/",
          "/^mat-/",
          "/^pinch-zoom/",
          "/^swiper/"
        ]
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "map-get",
          "darken",
          "lighten",
          "mat.define-typography-config",
          "mat.define-palette",
          "mat.define-light-theme"
        ]
      }
    ],
    "value-no-vendor-prefix": null,
    "property-no-vendor-prefix": null,
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["ng-deep"]
      }
    ],
    "no-empty-source": null
  }
}
