<app-search-box
  [template]="personTemplate"
  [fetchOptions]="getPerson"
  [placeholder]="'search.persons'"
></app-search-box>

<ng-template #personTemplate let-person
  ><div
    appOpenLink
    [label]="person.name"
    url="/person/{{ person.id }}"
    [ngClass]="{adult: person.adult}"
  >
    <img
      class="result-thumbnail"
      *ngIf="person.profile"
      src="{{ person.profile | image: imageSize.small }}"
    />
    <div class="result-title">{{ person.name | capitalizeWord }}</div>
  </div>
</ng-template>
