@use '/src/app/styles/imports' as *;

.mat-option {
  padding: 0 !important;
}

.result-content {
  align-items: center;
  display: flex;

  img {
    padding: 0 5px;
  }
}

.result-body {
  line-height: 24px !important;
  white-space: pre-line;
}
