@use '/src/app/styles/imports' as *;

swiper {
  width: 83vw;
}

.season-slide {
  overflow-x: hidden;
}

.season-poster {
  border: 3px solid #000;
  box-shadow: 1px 1px 20px #000;
  margin: 20px;
}

@include media(#{$smallscreen}) {
  swiper {
    height: 40vh;
  }

  ::ng-deep .swiper-slide,
  .season-slide {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ::ng-deep .swiper-button-prev {
    bottom: auto;
    left: 50%;
    right: auto;
    top: 10px;
    transform: translateX(-50%) rotate(90deg);
  }

  ::ng-deep .swiper-button-next {
    bottom: 0;
    left: 50%;
    right: auto;
    top: auto;
    transform: translateX(-50%) rotate(90deg);
  }
}
