<ng-container *ngIf="seasons$ | async as seasons">
  <label>{{ 'serie.seasons' | translate }}s: </label>
  <div class="wrapper">
    <swiper
      *ngIf="swiperReady"
      [keyboard]="swiperConfig.keyboard"
      [mousewheel]="swiperConfig.mousewheel"
      [navigation]="swiperConfig.navigation"
      [pagination]="swiperConfig.pagination"
      [scrollbar]="swiperConfig.scrollbar"
      [centeredSlides]="swiperConfig.centeredSlides"
      [zoom]="swiperConfig.zoom"
      [a11y]="swiperConfig.a11y"
      [touchEventsTarget]="swiperConfig.touchEventsTarget"
      [slidesPerView]="swiperConfig.slidesPerView"
      [direction]="swiperConfig.direction"
    >
      <ng-template swiperSlide *ngFor="let season of seasons">
        <div class="season-slide">
          <img
            class="season-poster"
            [src]="season.poster | image: imageSize.small"
            (click)="setOverview(season)"
            [ngClass]="{pointer: season.overview}"
          />
          <p>
            {{ season.name }} ({{ season.episodeCount }}) -
            {{ season.airDate | date: 'yyyy' }}
            <button
              class="btn btn-outline-primary small-btn"
              [routerLink]="['./', season.seasonNumber]"
            >
              <fa-icon [icon]="faChevronCircleRight" size="xs"></fa-icon>
            </button>
          </p>
        </div>
      </ng-template>
    </swiper>
  </div>
  <ng-container *ngIf="overview">{{ overview }}</ng-container>
</ng-container>
