@use '/src/app/styles/imports' as *;

.result-content {
  align-items: center;
  display: flex;

  img {
    @include thumbnail($img-height);
  }
}

.result-body {
  line-height: 24px !important;
  margin: auto 0;
  padding-left: 0.5em;
  white-space: pre-line;
}

::ng-deep .mat-form-field {
  width: 400px;
}

mat-slide-toggle {
  align-self: center;
  margin-left: 15px;
}

@include media(#{$smallscreen}) {
  app-search-box {
    margin: 0 auto;
    width: 90%;
  }

  ::ng-deep .mat-slide-toggle-label {
    margin: 0 !important;
    padding: 0 0 1em !important;
  }

  ::ng-deep .mat-form-field {
    margin: 0 auto;
    width: 100%;
  }
}
