<app-search-box
  [template]="dataTemplate"
  [fetchOptions]="getData"
  [placeholder]="'global.add'"
  [minimized]="false"
  floatLabel="auto"
  (selected)="add($event)"
  #box
></app-search-box>
<mat-slide-toggle [(ngModel)]="isMovie" (change)="box.reload()">{{
  (isMovie ? 'search.movies' : 'search.series') | translate
}}</mat-slide-toggle>

<ng-template #dataTemplate let-data>
  <div class="result-content" [ngClass]="{adult: data.adult}">
    <img
      class="align-self-center"
      *ngIf="data.affiche"
      src="{{ data.affiche | image: imageSize.small }}"
    />
    <div class="result-body">
      {{ data.title | capitalizeWord | truncate: 40 }}
      <ng-container *ngIf="data.date"
        >({{ data.date | date: 'yyyy' }})</ng-container
      >
    </div>
  </div>
</ng-template>
