@use '/src/app/styles/imports' as *;
/* stylelint-disable selector-type-no-unknown */

.result-content {
  display: flex;
  align-items: center;

  & img {
    @include thumbnail($img-height);
  }
}

.result-body {
  margin: auto 0;
  padding-left: 0.5em;
  white-space: pre-line;
  line-height: 24px !important;
}

::ng-deep .mat-form-field {
  width: 400px;
}

mat-slide-toggle {
  align-self: center;
  margin-left: 15px;
}

@include media(#{$smallscreen}) {
  app-search-box {
    width: 90%;
    margin: 0 auto;
  }

  ::ng-deep .mat-slide-toggle-label {
    margin: 0 !important;
    padding: 0 0 1em 0 !important;
  }

  ::ng-deep .mat-form-field {
    width: 100%;
    margin: 0 auto;
  }
}
