@use '/src/app/styles/imports' as *;

.mat-menu-item {
  height: 40px !important;
  padding: 0 8px !important;
  line-height: 40px !important;

  fa-icon {
    margin-right: 3px;
  }
}

.mat-dialog-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 16px;
  gap: 4px;
}
