@use '/src/app/styles/imports' as *;

.character {
  z-index: map-get($depth, tooltip);

  .my-tooltip {
    display: contents;
    float: left;
  }
}

.profile {
  display: none;
  position: absolute;
  z-index: map-get($depth, tooltip);

  img {
    @include box-shadow;

    border: 3px solid $black;
  }

  .my-tooltip:hover {
    display: block;
    float: left;
  }
}

@include media(#{$smallscreen}) {
  :host {
    @include full-width;

    display: inherit !important;
  }
}
