@use '/src/app/styles/imports' as *;

a {
  text-decoration: none;
}

swiper {
  width: 100vw;
}

.swiper-top {
  z-index: map-get($depth, tooltip);
}

.swiper-middle {
  z-index: 49;
}

.swiper-bottom {
  z-index: 1;
}

*,
*::after,
*::before {
  @include box-sizing;
}

.module {
  background-color: $true-white;
  border: 1px solid $blue;
  border-radius: 1.5em;
  color: $blue;
  margin: 5px 5px 10px;
  padding: 20px;
  text-align: center;

  &:hover {
    background-color: $blue;
    color: $true-white;
    cursor: pointer;
  }
}

.movie-link {
  overflow: visible !important;

  &:hover {
    height: 80vh !important;
  }
}

.profile {
  @include box-shadow;

  border: 3px solid $black;
  display: none;
  margin: 5px 0 0 4vw;
  position: fixed;
  z-index: map-get($depth, tooltip);

  .my-tooltip:hover & {
    display: inline-block;
  }
}

@include media(#{$desktop}, false) {
  .title {
    margin: 20px 0;
  }

  swiper {
    margin: auto !important;
    position: fixed;
  }

  .swiper-middle {
    top: 385px;
  }

  .swiper-bottom {
    top: 580px;
  }

  ::ng-deep.swiper-button-next,
  ::ng-deep.swiper-button-prev {
    .swiper-top &,
    .swiper-middle & {
      top: 54px !important;
    }

    .swiper-bottom & {
      top: 40px !important;
    }
  }

  .title:not(.movie-title) {
    position: fixed;
    width: 100vw;

    &.person-title {
      top: 490px;
    }

    &.serie-title {
      top: 300px;
    }
  }
}

@include media(#{$smallscreen}) {
  .wrapper {
    height: 55vh;
  }

  .profile {
    display: none !important;
  }

  .movie-link {
    height: auto !important;

    &:hover {
      height: auto !important;
    }
  }

  .module {
    padding: 10px;
  }

  h5 {
    font-size: 1rem;
  }
}
