@use '/src/app/styles/imports' as *;
@use '/src/app/styles/detail' as *;

.person-meta {
  float: left;
  margin: 0 10px 20px 20px;
}

label:not(.person-film) {
  display: inline !important;
}

.person-film {
  display: flex;
  margin-left: 10px !important;
  width: 100%;
}

figure {
  display: flex;
  flex-flow: column;
}

.toogle-display {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: min-content;
}

.center {
  &,
  > * {
    text-align: center;
  }
}

.known-for {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.known-for-detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > * {
    margin: auto;
  }
}

@include media(#{$desktop}, false) {
  label,
  .pad-left,
  label ~ div {
    margin-left: 20px !important;
  }
}

@include media(#{$smallscreen}) {
  .person-meta {
    margin: 20px 10px 0 20px;
  }

  figure {
    margin-left: -10px;
    margin-right: 10px;
  }

  .person-profile ::ng-deep.frame-viewer {
    margin-bottom: 0;
    margin-top: 20px;
  }
}
