@use '/src/app/styles/imports' as *;

:host {
  display: flex;
  justify-content: center;
  margin: 5vh auto;
  padding: 25px;
  position: relative;

  button {
    margin: 5px;
  }
}

.lang {
  display: flex;
  padding-bottom: 0.5em;

  > * {
    margin: 5px;
  }
}

.profile-footer {
  display: inherit;
}
