@use '/src/app/styles/imports' as *;

nav {
  flex-direction: column;
  width: min-content;
}

a {
  border: 1px solid $blue !important;
  border-radius: 8px !important;

  &:hover {
    background-color: $blue;
    color: $true-white;

    fa-icon {
      color: $true-white;
    }
  }
}

@include media(#{$smallscreen}) {
  .nav-link {
    font-size: 0.8em !important;
    padding: 0.2rem !important;

    .mobile {
      line-height: 0;
    }
  }
}
