<label
  >{{ 'global.list' | translate }}s
  <ng-container *ngIf="showLists && lists">({{ lists.length }})</ng-container>:
</label>
<button
  class="btn btn-outline-primary small-btn"
  *ngIf="!showLists || !lists"
  (click)="getLists()"
>
  <fa-icon [icon]="faPlus" size="xs"></fa-icon>
</button>
<button
  class="btn btn-outline-primary small-btn"
  *ngIf="showLists && lists"
  (click)="showLists = false"
>
  <fa-icon [icon]="faMinus" size="xs"></fa-icon>
</button>
<ng-container *ngIf="showLists && lists">
  <div class="wrapper"></div>
</ng-container>
