@use '/src/app/styles/imports' as *;

swiper {
  width: 83vw;
}

.list-slide {
  overflow-x: hidden;
}

.list-poster {
  border: 3px solid #000;
  box-shadow: 1px 1px 20px #000;
  margin: 20px;
}

p {
  margin: 0 !important;
}

@include media(#{$smallscreen}) {
  swiper {
    height: 55vh;
  }

  ::ng-deep .swiper-slide,
  .list-slide {
    display: flex;
    flex-direction: column;
  }

  .list-slide {
    margin: auto;
  }

  ::ng-deep .swiper-button-prev {
    bottom: auto;
    left: 50%;
    right: auto;
    top: 10px;
    transform: translateX(-50%) rotate(90deg);
  }

  ::ng-deep .swiper-button-next {
    bottom: 0;
    left: 50%;
    right: auto;
    top: auto;
    transform: translateX(-50%) rotate(90deg);
  }
}
