@use '/src/app/styles/imports' as *;

/* stylelint-disable selector-max-compound-selectors */

::ng-deep .minimized {
  .mat-form-field {
    background-color: $white;
    border-color: $white;
    border-radius: 1em;
    border-style: solid;
    border-width: 0 10px;
    width: 100%;

    &-infix {
      padding-bottom: 0.4rem !important;
    }

    &-wrapper {
      padding-bottom: 0 !important;
    }

    &-label-wrapper {
      height: 120% !important;
      top: -2.375rem !important;
    }

    &-underline {
      bottom: 1rem !important;
    }

    input {
      position: relative;
      top: -0.625rem !important;
    }

    &-prefix {
      bottom: 0.6em;
      padding-right: 5px;
      position: relative;
    }

    &-suffix {
      bottom: 0.6em;
      cursor: pointer;
      position: relative;
    }
  }
}

::ng-deep .mat-autocomplete-visible {
  height: $result-panel !important;
  max-height: $result-panel !important;
  min-height: $result-panel !important;

  .mat-option,
  .mat-option-text {
    height: $option-height !important;
    padding: 0 !important;

    > div {
      display: flex;
      font-size: 18px;
      height: $option-height !important;
    }
  }

  .mat-option {
    &:first-child {
      margin-top: $top-gap;
    }

    &:last-child {
      margin-bottom: $top-gap;
    }
  }
}

@include between(#{$desktop}, #{$smallscreen}) {
  ::ng-deep .minimized {
    .mat-form-field {
      font-size: 16px !important;
      max-width: calc(98vw / 3 - 56px / 3);
    }

    ::ng-deep .mat-form-field-label {
      top: 26px !important;
    }
  }
}

@include media(#{$desktop}) {
  ::ng-deep .mat-option-text > div {
    font-size: 14px !important;
  }
}

@include media(#{$smallscreen}) {
  ::ng-deep .minimized {
    .mat-form-field {
      display: block;
      font-size: 14px !important;

      input {
        top: 0 !important;
      }

      &-underline {
        bottom: 6px !important;
      }

      &-infix {
        border-top: 0 !important;
      }

      &-label-wrapper {
        top: -20px !important;
      }

      &-prefix,
      &-suffix {
        bottom: 2px;
      }
    }
  }
}
