<mat-form-field [floatLabel]="floatLabel">
  <fa-icon [icon]="faSearch" matPrefix size="lg"></fa-icon>
  <input
    #inputSearch
    matInput
    placeholder="{{ placeholder | translate }}"
    [matAutocomplete]="auto"
    [formControl]="dataCtrl"
  />
  <fa-icon [icon]="faRemove" matSuffix (click)="reset()" size="lg"></fa-icon>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option
    *ngFor="let data of filteredDatas | async"
    (onSelectionChange)="select(data); reset(); inputSearch.value = ''"
  >
    <ng-container
      *ngTemplateOutlet="template; context: {$implicit: data}"
    ></ng-container>
  </mat-option>
</mat-autocomplete>
