@use '/src/app/styles/imports' as *;

.nav-list {
  display: inline-flex;
  flex-direction: column;
  height: 95%;
  overflow-y: visible;
  overflow-x: hidden;

  & > * {
    margin: 0 2px 0 2px;
  }

  & .btn {
    padding: 10px;
  }

  & .ng-fa-icon {
    margin-right: 6px;
  }
}

.toolbar {
  position: fixed;
  z-index: map-get($depth, 'toolbar');
  display: flex;
  flex-direction: row;

  & .search-boxes {
    display: flex;
    justify-content: space-around;
    padding-left: 2vw;
    gap: 20px;

    &,
    & > * {
      width: 100%;
    }
  }
}

/* stylelint-disable selector-type-no-unknown */
mat-toolbar {
  height: auto !important;
  background-color: $light_blue;
}

app-dropdown-language {
  display: flex;
  justify-content: center;
}

.mat-drawer-container {
  background-color: #fff !important;
}

.mat-sidenav {
  top: $toolbar-height !important;
}

.mat-sidenav-container,
.sidenav-content {
  overflow: unset !important;
}

.sidenav-content {
  width: 100vw;
}

@include media(#{$desktop}) {
  .toolbar .search-boxes {
    min-width: calc(100vw - 56px);
    gap: 0;
    padding-left: 1vw;
  }
}

@include media(#{$smallscreen}) {
  :host .nav-list {
    & > * {
      margin: 0;
    }
  }

  .toolbar {
    & .search-boxes {
      flex-direction: column;
    }
  }

  .mat-sidenav {
    top: $toolbar-height-mobile !important;
  }

  .header-buttons {
    padding: 10px 0 0 0;
  }
}
