@use '/src/app/styles/imports' as *;

.nav-list {
  display: inline-flex;
  flex-direction: column;
  height: 95%;
  overflow-x: hidden;
  overflow-y: visible;

  > * {
    margin: 0 2px;
  }

  .btn {
    padding: 10px;
  }

  .ng-fa-icon {
    margin-right: 6px;
  }
}

.toolbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: map-get($depth, 'toolbar');

  .search-boxes {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding-left: 2vw;

    &,
    > * {
      width: 100%;
    }
  }
}

/* stylelint-disable-next-line selector-type-no-unknown */
mat-toolbar {
  background-color: $light-blue;
  height: auto !important;
}

app-dropdown-language {
  display: flex;
  justify-content: center;
}

.mat-drawer-container {
  background-color: #fff !important;
}

.mat-sidenav {
  top: $toolbar-height !important;
}

.mat-sidenav-container,
.sidenav-content {
  overflow: unset !important;
}

.sidenav-content {
  width: 100vw;
}

@include media(#{$desktop}) {
  .toolbar .search-boxes {
    gap: 0;
    min-width: calc(100vw - 56px);
    padding-left: 1vw;
  }
}

@include media(#{$smallscreen}) {
  :host .nav-list {
    > * {
      margin: 0;
    }
  }

  .toolbar {
    .search-boxes {
      flex-direction: column;
    }
  }

  .mat-sidenav {
    top: $toolbar-height-mobile !important;
  }

  .header-buttons {
    padding: 10px 0 0;
  }
}
