@use '/src/app/styles/imports' as *;

/* stylelint-disable selector-pseudo-element-no-unknown */
.header {
  max-width: 90vw;

  .mat-line {
    margin-bottom: 2px !important;
    margin-left: 0 !important;
  }

  &::ng-deep.frame-viewer {
    height: 154px !important;
  }
}

.params {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;

  > *:not(button) {
    padding: 0 10px;
  }
}

.mat-button-toggle,
.toogle-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-paginator {
  display: flex;
  justify-content: center;
}

.selected {
  background-color: $light-gray;
}

.result-list {
  margin-left: 25vw;
  width: calc(50vw + 20px);

  .mat-line {
    margin-bottom: 2px !important;
    margin-left: 85px !important;
  }
}

.poster {
  border: 3px solid $black;
  box-shadow: 4px 6px 15px #000;
  float: left;
  height: 100px;
  position: absolute;
}

.result-title {
  color: $blue;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

.result-checkbox {
  position: absolute;
  right: 10px;
}

@include media(#{$smallscreen}) {
  .result-list {
    margin-left: 0;
    width: 100vw;
  }

  .poster {
    height: 25vw;
    max-height: 100px;
  }

  .mat-line {
    margin-bottom: 1vw !important;
  }

  ::ng-deep.mat-list-item-content {
    padding: 0 0 8px 16px !important;
  }
}
