@use '/src/app/styles/imports' as *;

.mat-line {
  margin-bottom: 2px !important;
  margin-left: 85px !important;
}

.mat-button-toggle,
.toogle-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.params {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;

  > *:not(button) {
    padding: 0 10px;
  }
}

.mat-paginator {
  display: flex;
  justify-content: center;
}

.ng2-nouislider {
  margin-left: 25vw;
  width: 50%;
}

.mat-slide-toggle {
  align-items: center;
  align-self: center;
  display: flex;
}

.runtime-slider {
  margin-top: 4em;
}

.vote {
  display: flex;
  flex-wrap: wrap;
}

.vote-count {
  margin-left: 50px;
  margin-top: 2.25em;
}

/* stylelint-disable-next-line selector-class-pattern */
::ng-deep .noUi-handle {
  cursor: grab;
}

.selected {
  background-color: $light-gray;
}

.result-list {
  margin-left: 25vw;
  width: calc(50vw + 20px);

  img {
    border: 3px solid $black;
    box-shadow: 4px 6px 15px #000;
    float: left;
    height: 100px;
    position: absolute;
  }
}

app-bookmarked {
  float: left;
  padding-left: 25px;
  position: absolute;
  top: 0;
}

.result-title {
  color: $blue;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

.result-checkbox {
  position: absolute;
  right: 10px;
}

@include media(#{$smallscreen}) {
  .result-list {
    margin-left: 0;
    width: 100vw;

    img {
      height: 25vw;
      max-height: 100px;
    }
  }

  .mat-line {
    margin-bottom: 1vw !important;
  }

  ::ng-deep.mat-list-item-content {
    padding: 0 0 8px 16px !important;
  }

  .runtime-slider {
    margin-top: 2em !important;
  }

  .ng2-nouislider {
    margin: auto;
    width: 80vw;
  }

  .vote-count {
    margin: auto;
  }
}
