@use '/src/app/styles/imports' as *;

:host {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 50%;
  position: fixed;
  z-index: map-get($depth, 'top');
}

button {
  height: auto;

  &:focus {
    outline: 0;
  }
}

@include media(#{$smallscreen}) {
  :host {
    bottom: 0;
    right: 0;
  }
}
