<app-search-box
  [template]="serieTemplate"
  [fetchOptions]="getSerie"
  [placeholder]="'search.series'"
></app-search-box>

<ng-template #serieTemplate let-serie
  ><div appOpenLink [label]="serie.title" url="/serie/{{ serie.id }}">
    <app-bookmarked [id]="serie.id" [isMovie]="false"></app-bookmarked>
    <img
      class="result-thumbnail"
      *ngIf="serie.affiche"
      src="{{ serie.affiche | image : imageSize.small }}"
    />
    <div class="result-title">
      <div class="result-main">
        {{ serie.title | capitalizeWord | truncate : 40 }}
        <ng-container *ngIf="serie.firstAired"
          >({{ serie.firstAired | date : 'yyyy' }})</ng-container
        >
      </div>
      <div *ngIf="serie.original_title" class="result-original">
        {{ serie.original_title | truncate : 40 }}
      </div>
    </div>
  </div>
</ng-template>
